body {
    background-color: black;
}
h1 {
    text-transform: uppercase;
    front-size: 3rem;
}
.poster
width: 50%;
margin-top: 
font-family: "Libre baskerville," serif;
text-align: center;
.motivation-img{
 border: 5px solid white;
    width
}